{% load comments static %}

<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>

<div class="fat-scroll-div">
    {% for usecase in use_cases %}
        <div class="use-case-container">
            <div class="use-case-header">
                <label class="pull-left">{{ usecase.name }}</label>
                <label id="muo-date-header">{{ usecase.created_at }}</label>
            </div>
            <div class="use-case-div">
                {{ usecase.description }}
            </div>
            <div class="osr-div">
                {{ usecase.osr }}
            </div>
            <div class="usecase-footer">
                <div class="pull-left">
{#                    <a href="" class="btn btn-xs">#}
{#                        <span class="fa fa-thumbs-o-up"></span>#}
{#                    </a>#}
{#                    <a href="" class="btn btn-xs">#}
{#                        <span class="fa fa-thumbs-o-down"></span>#}
{#                    </a>#}
                    {% if user.is_authenticated %}
                        <a href="#comments-block-{{ usecase.id }}" class="btn btn-xs">
                        <span class="fa fa-comment-o ">
                        </span>
                        {% get_comment_count for usecase as comment_count %} {{ comment_count }} comments
                        </a>
                    {% endif %}

                </div>
                <div class="pull-right">
                    <a href="#muo-modal" class="btn btn-xs" data-toggle="modal"
                       data-ajax-url="{% url 'admin:muo_issuereport_new_report' %}"
                       data-usecase-id="{{ usecase.pk }}"
                       title data-original-title="Report Issue">
                        <span class="fa fa-exclamation-triangle"></span>
                        Report Issue
                    </a>
                </div>
            </div>

            <div class="comments-container" id="comments-block-{{ usecase.id }}">
                {% render_comment_list for usecase %}
                {% render_comment_form for usecase %}
            </div>

        </div>
    {% endfor %}


</div>

