.newclass {
    color: cadetblue;
}

.content .fieldset-box .box {
    min-height: 0px;
}

.slimScrollDiv {
    float: left;
    position: relative;
    height: 400px;
    width: 35%;
    overflow-y: scroll;
    overflow-x:hidden;
    margin-top: 0px;
}

.fatScrollDiv {
    float: right;
    position: relative;
    height: 400px;
    width: 65%;
    overflow-y: scroll;
    overflow-x:hidden;
    background-color: #ecf0f5;
    margin-bottom: 0px;
}

#misusecaseTitleLabel {
    width: 35%;
    position: relative;
    margin-top: 0px;
    text-align: center;
}

#usecaseTitleLabel {
    width: 65%;
    float: right;
    position: relative;
    margin-top: 0px;
    text-align: center;
}

.misusecaseContainer {

}

.misusecaseContainer:hover {
    background-color: #ecf0f5;
}

.misusecaseHeader {
    border-right: thin double;
    border-color: #e7eaec;
    padding: 15px;
}

.usecaseHeader {
    margin-top: 0px;
    padding: 15px;
}

.usecaseFooter {
    /*left: 50%;*/
    /*margin-top: 0px;*/
    /*padding: 15px;*/
    /*align-items: center;*/
    /*background-color: indianred;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*text-align: center;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*background-color: #1a2226;*/
}

.misusecaseDiv {
    width: 100%;
    padding: 15px;
    border-right: thin double;
    border-bottom: thin double;
    border-color: #e7eaec;
    background-color: transparent;
    margin-top: 0px;
}

.misusecaseDiv:hover {
    /*background-color: #f3f3f4;*/
    /*color: #000000;*/
    /*border-color: #e7eaec;*/
    background-color: #ecf0f5;
}

/*.useCaseBackgroundContainerDiv {*/
    /**/
/*}*/

.usecaseContainer{
    width: 97%;
    margin: 10px;
    /*height: 150px;*/
    /*line-height:3em; */
    /*overflow: auto;*/
    padding: 15px;
    background-color: white;

	/*-webkit-box-shadow: 0 10px 6px -6px #777;*/
	   /*-moz-box-shadow: 0 10px 6px -6px #777;*/
	        /*box-shadow: 0 10px 6px -6px #777;*/

    /*box-shadow: 1px 1px 1px #777;*/

    /*-webkit-box-shadow: 0px 0px 5px 5px #777;*/
/*-moz-box-shadow: 0px 0px 5px 5px #777;*/
/*box-shadow: 0px 0px 5px 5px #777;*/

    -webkit-box-shadow: 0px 0px 2px 0px rgba(173,173,173,1);
-moz-box-shadow: 0px 0px 2px 0px rgba(173,173,173,1);
box-shadow: 0px 0px 2px 0px rgba(173,173,173,1);
}

.usecaseDiv {
    width: 100%;
    padding: 15px;
    border-bottom: thin double;
    border-color: #e7eaec;
}

.usecaseHeader {

}

.osrDiv {
    width: 100%;
    padding: 15px;
}

/*.misusecaseTable {*/
    /*border-collapse: collapse;*/
    /*border-right: thin double lightgrey;*/
    /*border-spacing: 10px;*/
/*}*/

/*tr {*/
    /*border: solid lightgrey;*/
    /*border-width: 1px 0;*/
/*}*/

/*tr:first-child {*/
    /*border-top: none;*/
/*}*/

/*tr:last-child {*/
    /*border-bottom: none;*/
/*}*/

/*td {*/
    /*padding: 20px;*/
/*}*/

/*td:hover {*/
  /*background-color: lightgrey;*/
  /*color: #000000;*/
/*}*/


